
<md-toolbar>All Books</md-toolbar>

<!-- Grid List with 3 columns -->
<md-grid-list cols=3>
<md-grid-tile *ngFor="let book of allBooks">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h4>{{book.title}}</h4>
        </md-card-title>
      </md-card-header>
      <!-- image of book -->
      <img md-card-image src="{{book.imageUrl}}" alt="{{book.title}}">
      <md-card-actions>
        <button md-button md-raised-button class="detailsButton" [routerLink]="['/book-detail/'+book.$key]">
          <i class="material-icons">visibility</i>Book Details</button>

        <button md-button md-raised-button class="editButton" [routerLink]="['/edit-book/'+book.$key]">
          <i class="material-icons">mode_edit</i>Edit Book</button>

      </md-card-actions>

    </md-card>

  </md-grid-tile>

</md-grid-list>