<md-toolbar>Add Book</md-toolbar>
<div class="add-book-form">
  <a  [routerLink]="['/books']">Back</a>
  <form #myForm="ngForm">

    <md-input-container class="full-width">
           <input mdInput placeholder="Book Title" name="title" required>
    </md-input-container>

    <md-input-container class="full-width">
            <input mdInput placeholder="Book Author" name="author" required>
    </md-input-container>
   
    <md-input-container class="full-width">
            <input mdInput placeholder="Book Price" type="number" name="price" required>
    </md-input-container>

    <table class="full-width" cellspacing="10px;">
      <tr>
        <td>
            <md-input-container class="full-width">
              <input mdInput [mdDatepicker]="dateadded" placeholder="Date Added" >
              <button mdSuffix [mdDatepickerToggle]="dateadded"></button>
            </md-input-container>
            <md-datepicker #dateadded></md-datepicker>

        </td>
        <td>
            <md-input-container class="full-width">
            <input mdInput [mdDatepicker]="dateread" placeholder="Date Read">
            <button mdSuffix [mdDatepickerToggle]="dateread"></button>
                        </md-input-container>
            <md-datepicker #dateread></md-datepicker>

        </td>
      </tr>

      

    </table>
<div>
    <md-input-container class="full-width">
      <textarea mdInput row="5" name="description" placeholder="Book Description"></textarea>
    </md-input-container>

    <md-input-container class="full-width">
      <textarea mdInput min="1" max="5" row="5" type="number" step="0.1" name="rate" placeholder="Book Rate (1-5)"></textarea>
    </md-input-container>

  
</div>

<md-input-container class="full-width">
 
<input mdInput placeholder="Image URL(from web)"  name="imageUrl" required>
</md-input-container><br>
<button md-raised-button value="submit" [disabled]=!myForm.form.valid>Create Book</button>
  </form>
</div>